alpaca-py
pandas
matplotlib
numpy
scikit-learn
python-dotenv
yfinance
lxml
statsmodels
xgboost
pandas_datareader
torch
# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
git+https://github.com/skorch-dev/skorch.git
arch
pykalman
gymnasium
stable-baselines3
tensorboard
sb3-contrib
tqdm
rich
optuna
holidays
finnhub-python
mplfinance