name: Trading Trigger
run-name: ${{ github.actor }} is deploying a quant trading algorithm. 

on: workflow_dispatch

# on:
#   schedule:
#     - cron:  '36 16 * * *' ##Minute, hour (UTC), day, month, day of the week (0-6)(Sunday to Saturday)

jobs:
  trade:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13
      # - name: Install requirements
      #   run: pip install -r requirements.txt

      - name: Deploy strategy
        run: python main/deploy.py