name: Trading Deploy
run-name: ${{ github.actor }} is deploying a quant trading algorithm. 

on:
  schedule: ##Opening times US market: 13:30-20:00 UTC
    - cron:  '30 13 * * *' ##Minute, hour (UTC), day, month, day of the week (0-6)(Sunday to Saturday)
  workflow_dispatch:        # Allows manual trigger

jobs:
  trade:
    runs-on: ubuntu-latest
    env:
      API_KEY: ${{ secrets.API_KEY }}
      API_SECRET: ${{ secrets.API_SECRET }}
      PAPER: True

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13
      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Check for holiday/weekend
        id: bizday-check
        run: |
          python - << 'EOF'
              import datetime, sys
              import holidays

              # choose your country (e.g. 'ES' for Spain, 'US' for United States, etc.)
              country_hols = holidays.CountryHoliday('US')

              today = datetime.date.today()
              if today.weekday() >= 5:
                  print("⚠️ Today is weekend; exiting.")
                  sys.exit(0)
              if today in country_hols or False:
                  print(f"⚠️ Today ({today}) is a holiday ({country_hols[today]}); exiting.")
                  sys.exit(0)

              print("✅ Business day; continuing with the rest of the workflow.")
              EOF

      # - name: Deploy strategy
      #   env:
      #       PYTHONPATH: ${{ github.workspace }}
        
      #   run: python main/deploy.py

      - name: Send report as email body
        uses: dawidd6/action-send-mail@v6
        with:
          # either via connection_url or broken-out parameters:
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port:    ${{ secrets.SMTP_PORT }}
          username:       ${{ secrets.SMTP_USERNAME }}
          password:       ${{ secrets.SMTP_PASSWORD }}

          subject:        "Daily Live Trading Report"
          from:           ${{ secrets.SMTP_USERNAME }}
          to:             ${{ secrets.SMTP_USERNAME }}

          # key bit: load the entire JSON file as the e‑mail body
          content_type:   text/plain
          body:           file://live_trading_report.md