name: Manual Trading Trigger
run-name: ${{ github.actor }} is manually deploying a quant trading algorithm. 

on: workflow_dispatch

jobs:
  trade:
    runs-on: ubuntu-latest
    env:
      APCA_API_KEY_ID: ${{ secrets.APCA_API_KEY_ID }}
      APCA_API_SECRET_KEY: ${{ secrets.APCA_API_SECRET_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Run momentum strategy
        run: python momentum.py
